<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title }} - {{ position }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Games played - {{ gamesPlayed }}</li>
    <li class="list-group-item"> Games started - {{ gamesStarted }}</li>
    <li class="list-group-item"> Points per game - {{ pointsPerGame }}</li>
    <li class="list-group-item">{{ assistsPerGame }}</li>
    <li class="list-group-item">{{ reboundsPerGame }}</li>
    <li class="list-group-item">{{ stealsPerGame }}</li>
    <li class="list-group-item">{{ blocksPerGame }}</li>
    <li class="list-group-item">{{ turnoversPerGame }}</li>
    <li class="list-group-item">{{ fieldGoalsPercentage }}</li>
    <li class="list-group-item">{{ freeThrowsPercentage }}</li>
    <li class="list-group-item">{{ threePointersPercentage }}</li>
  </ul>
</div>