.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #d9d9d9;

  &__logo {
    height: 100%;
    margin: 0;

    img {
      height: 130px;
      width: 200px;
      opacity: .8;
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    &__item {
      margin: 0 10px;
      text-transform: uppercase;

      a {
        color: steelblue;
        font-size: 1.2rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
