<header class="header">
  <figure class="header__logo">
    <a routerLink="/profile"><i class="fas fa-user fa-2x"></i></a>
  </figure>
  <nav>
    <ul class="header__nav">
      <li class="header__nav__item">
        <a routerLink="/teams/conferences">Conference Standings</a>
      </li>
      <li class="header__nav__item">
        <a routerLink="/teams/divisions">Division Standings</a>
      </li>
      <li class="header__nav__item">
        <a routerLink="/players">Player Stats</a>
      </li>
      <li class="header__nav__item"><a routerLink="/teams/all">Team Stats</a></li>
    </ul>
  </nav>
</header>
