<div class="teams">
  <app-header></app-header>
  <div class="container">
    <div class="col-lg-12 mt-5">
      <table class="results-table mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Percentage</th>
            <th>Home</th>
            <th>Away</th>
            <th>Last 10</th>
            <th>Active Streak</th>
            <th>PPG</th>
            <th>PPG Allowed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i =index">
            <td>{{ team.name }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.percentage }}</td>
            <td>{{ team.homeWins }} - {{ team.homeLosses }}</td>
            <td>{{ team.awayWins }} - {{ team.awayLosses }}</td>
            <td>{{ team.lastTenWins }} - {{ team.lastTenLosses }}</td>
            <td>{{ team.activeStreak }}</td>
            <td>{{ team.pointsPerGame }}</td>
            <td>{{ team.pointsAllowed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
