<div class="conferences">
  <app-header></app-header>
  <div class="container">
    <div class="col-lg-12">
      <div class="table-holder">
        <h1>Eastern Conference</h1>
        <app-table [dataSource]="easternConferenceTeams" [displayedColumns]="displayedColumns"></app-table>
      </div>
      <div class="table-holder">
        <h1>Western Conference</h1>
        <app-table [dataSource]="westernConferenceTeams" [displayedColumns]="displayedColumns"></app-table>
      </div>
    </div>
  </div>
</div>
