<div class="registration">
  <app-header-logout></app-header-logout>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">

        <div class="select-language-container mb-3 mt-3">
          <h5>{{ 'selectLanguage.title' | translate }}</h5>
          <select #langSelect (change)="languageSelectionChange($event)">
            <option *ngFor="let lang of languages" [value]="lang" [selected]=" lang === currentLang">{{ lang }}</option>
          </select>
        </div>

        <form class="registration mt-5" [formGroup]="registrationForm">

          <h3>{{ 'registration.title' | translate }}</h3>

          <div class="form-group" [ngClass]="{'error': userNameControl.errors && userNameControl.touched}">
            <label for="userName">{{ 'registration.username' | translate }}</label>
            <input type="text" class="form-control" id="userName" placeholder="Enter Username"
              formControlName="userName">
          </div>
          <div class="alert alert-warning" role="alert"
            *ngIf="userNameControl.errors && userNameControl.errors['minlength']">
            {{ 'registration.usernameError' | translate }}
          </div>

          <div class="form-group" [ngClass]="{'error': nameControl.errors && nameControl.touched}">
            <label for="name">{{ 'registration.name' | translate }}</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
          </div>

          <div class="form-group" [ngClass]="{'error': lastNameControl.errors && lastNameControl.touched}">
            <label for="lastName">{{ 'registration.lastName' | translate}}</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
              formControlName="lastName">
          </div>

          <div class="form-group" [ngClass]="{'error': emailControl.errors && emailControl.touched}">
            <label for="email">{{ 'registration.email' | translate }}</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="email">
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="emailControl.errors && emailControl.errors['email']">
            {{ 'registration.emailError' | translate }}
          </div>

          <div class="form-group" [ngClass]="{'error': passwordControl.errors && passwordControl.touched}">
            <label for="password">{{ 'registration.password' | translate }}</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          </div>
          <div class="alert alert-warning" role="alert"
            *ngIf="passwordControl.errors && passwordControl.errors['minlength']">
            {{ 'registration.passwordError' | translate }}
          </div>

          <div class="form-group" [ngClass]="{'error': ageControl.errors && ageControl.touched}">
            <label for="age">{{ 'registration.age' |translate }}</label>
            <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="ageControl.errors && ageControl.errors['min']">
            {{ 'registration.ageError' | translate}}
          </div>

          <div class="form-group">
            <label for="image">{{ 'registration.photo' | translate }}</label>
            <input class="d-block" type="file" id="image" accept="image/png, image/jpeg"
              (change)="onFileChange($event)">
          </div>

          <button type="submit" class="btn btn-primary" (click)="submitRegistration()">
            {{ 'registration.button' | translate }}
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
