<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title }} - {{ position }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Games played - {{ gamesPlayed }}</li>
    <li class="list-group-item"> Games started - {{ gamesStarted }}</li>
    <li class="list-group-item"> Points per game - {{ pointsPerGame }}</li>
    <li class="list-group-item"> Assists per game - {{ assistsPerGame }}</li>
    <li class="list-group-item"> Rebounds per game - {{ reboundsPerGame }}</li>
    <li class="list-group-item"> Steals per game - {{ stealsPerGame }}</li>
    <li class="list-group-item"> Blocks per game - {{ blocksPerGame }}</li>
    <li class="list-group-item"> Turnovers per game - {{ turnoversPerGame }}</li>
    <li class="list-group-item"> Field goals percentage - {{ fieldGoalsPercentage }}</li>
    <li class="list-group-item"> Freethrows percentage - {{ freeThrowsPercentage }}</li>
    <li class="list-group-item"> Three pointers percentage - {{ threePointersPercentage }}</li>
  </ul>
</div>
