<div class="team-detail">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" *ngIf="teamData">
        <app-card-team [title]="teamData.name" [wins]="teamData.wins" [losses]="teamData.losses"
          [pointsPerGame]="teamData.pointsPerGame" [reboundsPerGame]="teamData.reboundsPerGame"
          [assistsPerGame]="teamData.assistsPerGame" [stealsPerGame]="teamData.stealsPerGame"
          [turnoversPerGame]="teamData.turnoversPerGame" [threePointersPerGame]="teamData.threePointersPerGame"
          [threePointersPercentage]="teamData.threePointersPercentage"
          [twoPointersPerGame]="teamData.twoPointersPerGame" [twoPointersPercentage]="teamData.twoPointersPercentage"
          [plusMinus]="teamData.plusMinus">
        </app-card-team>
      </div>
    </div>
  </div>
</div>
