/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif;
}

// table.results-table {
//   thead {
//     padding-bottom: 10px;

//     tr {
//       th {
//         padding: 10px 35px 10px 0;
//         font-size: 1.2rem;
//       }
//     }
//   }

//   tbody {
//     tr {
//       padding-bottom: 10px;
//       text-align: center;
//       td {
//           &
//       }
//     }
//   }
// }

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.table-holder {
  margin: 40px 0;

  h3 {
    text-align: center;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #d9d9d9;

  &__logo {
    height: 100%;
    margin: 0;

    img {
      height: 100px;
      width: 150px;
      opacity: .8;
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    &__item {
      margin: 0 10px;
    }

    a {
      color: steelblue;
      text-transform: uppercase;
      font-size: 1.2rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
