/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif;
}

// table.results-table {
//   thead {
//     padding-bottom: 10px;

//     tr {
//       th {
//         padding: 10px 35px 10px 0;
//         font-size: 1.2rem;
//       }
//     }
//   }

//   tbody {
//     tr {
//       padding-bottom: 10px;
//       text-align: center;
//       td {
//           &
//       }
//     }
//   }
// }

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.table-holder {
  margin: 40px 0;

  h3 {
    text-align: center;
  }
}
