<div class="table-holder">
  <table class="results-table">
    <thead class="table-header">
      <tr>
        <ng-container *ngFor="let column of displayedColumns">
          <th>{{ column.title }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of dataSource">
        <tr>
          <td *ngFor="let column of displayedColumns; let i = index">
            <span *ngIf="i === 0"><a [routerLink]="['/players', data.id]">{{ data[column.key] }}</a></span>
            <span *ngIf="i > 0">{{ data[column.key] }}</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!--<span *ngIf="i === 0" [routerLink]="'/' + entityRoute + '/' + data['id']"> >>> </span>-->
