.results-table {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.results-table tbody tr td {
  padding: 5px 0;
}

.results-table tr:first-of-type th:first-of-type,
.results-table tr td:first-of-type {
  text-align: left;
}
